<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="hero-page"> 
        <%- include('blocks/header') -%>
        <section>
            <h1>books shop</h1>
            <h1>want to read books and get wiser?</h1>
            <p>start <a href="/books">shopping</a> now</p> 
        </section>
    </div>


</body>
</html>