<header>
    <a class="logo" href="">
        Booked Brain
    </a>
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="">about us</a>
            </li>
            <li>
                <a href="/books">shopping</a>
            </li>
            <li>
                <a href="">conatc</a>
            </li>
        </ul>
    </nav>
    <div class="autorise">
        <button class="singup">
            sing up
        </button>
        <button class="login">
            log in
        </button>
    </div>
</header>