@font-face {
  font-family: nuninto;
  src: url(../fonts/Nunito-Regular.ttf);
}
/* width */
::-webkit-scrollbar {
  background-color: #F2F2F2;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C42E4; 
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: nuninto;
  text-transform: capitalize;
}

body {
  background-color: #f1f0f3;
}

.mantra {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 1160px;
  height: 648px;
  background-color: white;
  padding: 20px;
  border-radius: 80px;
  position: sticky;
  z-index: 2;
}
.mantra .purple-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 384px;
  border-radius: 55px;
  background: rgb(92, 66, 228);
  background: linear-gradient(331deg, rgb(92, 66, 228) 0%, rgb(203, 109, 249) 100%);
}
.mantra .purple-block .head-text {
  margin-left: 38px;
  width: 128px;
  height: 32px;
}
.mantra .purple-block .head-text .logo {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mantra .purple-block .head-text .logo h4 {
  font-size: 24px;
  color: white;
}
.mantra .purple-block .middle-text {
  margin-left: 38px;
}
.mantra .purple-block .middle-text h1 {
  margin-bottom: 18.5px;
  color: white;
  font-size: 37px;
  font-weight: bolder;
}
.mantra .purple-block .middle-text p {
  line-height: 1.5;
  font-size: 14px;
  color: white;
  width: 290px;
}
.mantra .purple-block .middle-text .line {
  border-radius: 5px;
  margin-top: 45.5px;
  width: 94px;
  height: 2.5px;
  background-color: white;
}
.mantra .purple-block .middle-text .home-div {
  position: relative;
  left: 200px;
}
.mantra .purple-block .middle-text .back {
  position: absolute;
  left: 21px;
  bottom: 21px;
}
.mantra .purple-block .copy-right {
  height: 14px;
  margin-left: 38px;
}
.mantra .purple-block .copy-right span {
  color: white;
  font-size: 10.5px;
}
.mantra .content {
  position: relative;
}
.mantra .content .background-svg {
  position: absolute;
  right: 0;
}
.mantra .content header {
  position: absolute;
  right: 50px;
  top: 40px;
}
.mantra .content header nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
.mantra .content header nav ul li a {
  text-decoration: none;
  color: #2F2E41;
  font-size: 11px;
  cursor: pointer;
}
.mantra .content header nav ul li a:hover {
  transition: 0.3s;
  font-weight: bolder;
  color: purple;
}
.mantra .content .dynamic-content .topics {
  display: flex;
  align-items: center;
  position: absolute;
  top: 63px;
  right: 38px;
}
.mantra .content .dynamic-content .topics .box1 {
  width: 355px;
}
.mantra .content .dynamic-content .topics .box2 {
  width: 393px;
}
.mantra .content .dynamic-content .mission {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 624px;
  position: absolute;
  right: 124px;
  bottom: 259px;
}
.mantra .content .dynamic-content .mission h4 {
  color: rgb(92, 66, 228);
  font-size: 20px;
}
.mantra .content .dynamic-content .mission p {
  color: #2F2E41;
}
.mantra .content .dynamic-content .vision {
  display: flex;
  flex-direction: column;
  width: 624px;
  gap: 13px;
  position: absolute;
  right: 124px;
  bottom: 111px;
}
.mantra .content .dynamic-content .vision h4 {
  color: rgb(92, 66, 228);
  font-size: 20px;
}
.mantra .content .dynamic-content .vision p {
  color: #2F2E41;
}
.mantra .content .dynamic-content .about-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  width: 680px;
  height: 456px;
  position: absolute;
  right: 45px;
  top: 110px;
  padding: 10px;
}
.mantra .content .dynamic-content .about-text p {
  color: #2F2E41;
  font-size: 12px;
  line-height: 1.8;
  width: 624px;
}
.mantra .content .dynamic-content .blog-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  width: 680px;
  height: 444.5px;
  overflow-y: auto;
  right: 45px;
  top: 110px;
}
.mantra .content .dynamic-content .blog-content h4 {
  color: rgb(92, 66, 228);
  font-size: 20px;
  margin-bottom: 18px;
}
.mantra .content .dynamic-content .blog-content p {
  font-size: 12px;
  line-height: 1.8;
  color: #2F2E41;
  width: 627px;
}
.mantra .content .dynamic-content .yoga-content {
  position: absolute;
  right: 25px;
  top: 113px;
}
.mantra .content .dynamic-content .yoga-content .boxes {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 490px;
  overflow-y: auto;
  gap: 20px;
}
.mantra .content .dynamic-content .yoga-content .boxes .yoga-tab {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  width: 220px;
}
.mantra .content .dynamic-content .yoga-content .boxes .yoga-tab .box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 204px;
  height: 185px;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 40px;
}
.mantra .content .dynamic-content .home-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
  gap: 20px;
  position: absolute;
  top: 238px;
  right: 20px;
}
.mantra .content .dynamic-content .home-text .h2 {
  color: white;
  font-size: 37px;
  font-weight: bolder;
}
.mantra .content .dynamic-content .home-text p {
  color: #2F2E41;
  font-size: 14px;
  line-height: 1.8;
  width: 374px;
}
.mantra .content .dynamic-content .home-text button {
  background-color: #FA4F57;
  border-radius: 20px;
  color: white;
  width: 145px;
  height: 45px;
  outline: none;
  cursor: pointer;
  border: 2px solid #FA4F57;
}
.mantra .content .dynamic-content .contact-content {
  display: flex;
  align-items: center;
  gap: 45px;
  position: absolute;
  right: 47px;
  top: 150px;
}
.mantra .content .dynamic-content .contact-content .map-box {
  background-image: url(images/map.png);
  position: relative;
  border-radius: 15px;
  width: 368px;
  height: 298px;
}
.mantra .content .dynamic-content .contact-content .map-box img{
  object-fit: cover;
  width: 368px;
  height: 298px;
  border-radius: 20px;
}
.mantra .content .dynamic-content .contact-content .map-box .map {
  position: relative;
}
.mantra .content .dynamic-content .contact-content .map-box .map-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  width: 331px;
  height: 104px;
  background-color: white;
  border-radius: 20px;
  top: 176px;
  left: 20px;
}
.mantra .content .dynamic-content .contact-content .map-box .map-info .adress {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mantra .content .dynamic-content .contact-content .map-box .map-info .adress P {
  font-size: 12px;
  color: #2F2E41;
  width: 136px;
}
.mantra .content .dynamic-content .contact-content .map-box .map-info .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mantra .content .dynamic-content .contact-content .map-box .map-info .info p {
  font-size: 12px;
  color: #2F2E41;
}
.mantra .content .dynamic-content .contact-content .map-box .map-info .info a {
  font-size: 12px;
  color: #2F2E41;
}
.mantra .content .dynamic-content .contact-content form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.mantra .content .dynamic-content .contact-content form .form-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mantra .content .dynamic-content .contact-content form .form-text h3 {
  font-size: 21px;
  color: black;
}
.mantra .content .dynamic-content .contact-content form .form-text p {
  width: 270px;
  font-size: 10.5px;
  color: #2F2E41;
}
.mantra .content .dynamic-content .contact-content form .form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mantra .content .dynamic-content .contact-content form .form-inputs input {
  width: 270px;
  height: 35px;
  border-radius: 8px;
  padding: 12px;
  border: none;
}
.mantra .content .dynamic-content .contact-content form .form-inputs textarea {
  width: 270px;
  height: 91px;
  border-radius: 8px;
  padding: 12px;
  outline: none;
  border: none;
}
.mantra .content .dynamic-content .contact-content form button {
  width: 121px;
  height: 35px;
  color: white;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  background: linear-gradient(331deg, rgb(92, 66, 228) 0%, rgb(203, 109, 249) 100%);
}
.mantra .content .yoga-tabs-content {
  display: flex;
  position: absolute;
  align-items: flex-start;
  gap: 30px;
  right: 75px;
  top: 125px;
}
.mantra .content .yoga-tabs-content .yoga-instuction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 438px;
  height: 416px;
  overflow-y: auto;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-header {
  display: flex;
  align-items: flex-start;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-header .header-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 380px;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-header .header-text h4 {
  color: rgb(92, 66, 228);
  font-size: 20px;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-header .header-text .sub-heading {
  line-height: 1.5;
  font-size: 14px;
  color: white;
  color: #2F2E41;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-header .header-text .copy-right {
  font-size: 10px;
  color: #2F2E41;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-header button {
  cursor: pointer;
  background: rgb(92, 66, 228);
  background: linear-gradient(331deg, rgb(92, 66, 228) 0%, rgb(203, 109, 249) 100%);
  border-radius: 50%;
  width: 39px;
  height: 39px;
  color: white;
  border: none;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-body {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}
.mantra .content .yoga-tabs-content .yoga-instuction .instruction-body p {
  color: #2F2E41;
}
.mantra .content footer {
  position: absolute;
  bottom: 0;
  right: 40px;
}
.mantra .content footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}/*# sourceMappingURL=main.css.map */